@use '../../styles/variables' as vars;

.sec-color {
  color: vars.$text-secondary-color !important;
}

@media (min-width: 768px) {
  /* Estilos para tablets en adelante */
  .card-fruit-container {
    min-width: 19.8125rem !important;
  }

  .nav-grid-fruits-container {
    max-width: 66%;
  }
  .fruit-text {
    max-width: 100px;
    min-width: 100px;
  }
  .selector-item {
    width: 25% !important;
  }

  .navbar-button {
    width: auto !important;
  }

  .general-information-card {
    max-width: 100%;
  }
}

.card-fruit-container {
    max-width: 307px;
  }

.fruit-text {
    max-width: 80px;
    min-width: 80px;
  }

.nutritions-text {
  font-size: 1.125rem !important;
}

.nutritions-data-container p,
.nutritions-title {
  margin-bottom: 8px;
}



.general-information-card {
  background-color: #F9F9F9 !important;
  min-width: 20% !important;
  max-width: 90%;
  max-height: fit-content;
}

.nutritions-data-item {
  color: #000;
}

.navbar-button {
  width: 100%;
}

.navbar-button:hover {
  color: #000 !important;
}

.selector-item .option-item:hover {
  background-color: #F9F9F9 !important;
  color: #000 !important;
}

.card-fruit-container img {
  height: 223px;
  object-fit: cover;
  width: 100%;
  max-width: 340px;
}
