// Colores
$primary-color: #D7B46B;
$secondary-color: #D7B46B;
$text-color: #000;
$text-secondary-color: #D7B46B;

// Fuentes
$font-primary: 'Lato', sans-serif;
$font-size-base: 16px;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;